/Organizer/dist/
/Organizer/nbproject/private/
/organizer-common/nbproject/private/
/organizer-core/nbproject/private/
/organizer-core/dist/
/organizer-core/build/
/organizer-common/build/
/organizer-common/dist/
/Organizer/build/